<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3">

						<h2 class="text-center">Contact List</h2>
						<hr>
						<table class="table">
							<thead>
								<tr class="text-center">
									<th scope="col">Contact Id</th>
									<th scope="col">Name</th>
									<th scope="col">Phone</th>
									<th scope="col">Action</th>


								</tr>
							</thead>
							<tbody class="text-center">
								<tr th:each="c :${contact}">
									<td th:text="${c.cId}"></td>
									<td><a th:href="@{'/user/'+${c.cId}+'/contact'}"><span
											th:text="${c.name}"></span></a></td>
									<td th:text="${c.phone}"></td>
									<td><a th:onclick="|deleteContact(${c.cId})| "
										class="btn btn-danger btn-sm">Delete</a><a
										th:href="@{'/user/update/' + ${c.cId}}">
											<button class="btn btn-warning btn-sm">Update</button>
									</a></td>

								</tr>

							</tbody>
						</table>
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li th:if="${currentPage != 0}" class="page-item"><a
									th:href="@{'/user/showcontact/' + ${currentPage-1}}"
									class="page-link" href="#" aria-label="Previous"> <span
										aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
								</a></li>

								<li th:classappend="${currentPage==i-1?'active':''}"
									th:each="i : ${#numbers.sequence(1,totalPage,1)}"
									class="page-item"><a
									th:href="@{'/user/showcontact/' + ${i-1}}" class="page-link"
									href="#"><span th:text="${i}"></span></a></li>

								<li th:if="${currentPage + 1 != totalPage}" class="page-item"><a
									th:href="@{'/user/showcontact/' + ${currentPage+1}}"
									class="page-link" href="#" aria-label="Next"> <span
										aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
								</a></li>
							</ul>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>