
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>HomePage</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">

					<div class="text-center">
						<h1 class=font-weight-bold>ABOUT</h1>
						<hr>
						<p>Contact managers help users seamlessly coordinate and
							handle all prospects, contacts and customer data from a single
							application. Contact managers provide various features and
							benefits, including:</p>
						<p>Centralized database of contact information > Ready - to -
							use database with search functionalities > Email integrations >
							Records and data management > Customizable fields</p>
						<br>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>